################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Syngen/.vs/Syngen/v16
/.vs
/src/Syngen/Syngen/obj
/src/Syngen/.vs/Syngen/DesignTimeBuild
/src/Syngen/Syngen.Core/obj
/src/Syngen/Syngen/bin/Debug/netcoreapp3.1
/src/Syngen/Syngen.Core/bin/Debug/netcoreapp3.1
